<header class="header-section">
  <div class="container">
    <!-- LOGO -->
    <div class="logo-wrapper">
      <a class="logo" href="../index.html"
        ><span class="logo-italic">SIMPLY</span>CHOCOLATE</a
      >
      <svg class="logo-icon" width="24" height="24">
        <use href="../img/icons.svg#icon-chocolate"></use>
      </svg>
    </div>
    <!-- NAV -->
    <div class="menu-wrapper">
      <nav class="nav-menu">
        <ul class="nav-menu-links">
          <li><a class="nav-link" href="">Home</a></li>
          <li><a class="nav-link" href="">How it’s made?</a></li>
          <li><a class="nav-link" href="">Chocolate is loved</a></li>
        </ul>
      </nav>
      <ul class="menu-networks-list">
        <li class="social-network-item">
          <a class="social-network-link" href=""
            ><svg class="social-icon" width="24" height="24">
              <use href="./images/icons/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-network-item">
          <a class="social-network-link" href="">
            <svg class="social-icon" width="24" height="24">
              <use href="./images/icons/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-network-item">
          <a class="social-network-link" href="">
            <svg class="social-icon" width="24" height="24">
              <use href="./images/icons/symbol-defs.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
