/* HEADER */
.header-section .container {
  display: flex;
  justify-content: space-between;
}
.header-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}
.logo {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.03em;
  color: #111;
  margin-right: 4px;
}
.logo-italic {
  font-style: italic;
}
.logo-icon {
  fill: #fcf1e0;
}

.menu-wrapper {
  display: flex;
  gap: 90px;
  align-items: center;
}
.nav-menu {
  display: flex;
  align-items: center;
}
.nav-menu-links {
  display: flex;
  gap: 24px;
}
.nav-link {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
}

.menu-networks-list {
  display: flex;
  gap: 14px;
}
.social-network-item {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 10px;

  .social-network-link:hover .social-icon,
  .social-network-link:focus .social-icon {
    fill: var(--orange);
  }
}
